@font-face {
    font-family: BOD_B;
    src: url(assets/fonts/BOD_B.TTF);
}

@font-face {
    font-family: majalla_0;
    src: url(assets/fonts/majalla_0.TTF);
}
@font-face {
    font-family: majallab_0;
    src: url(assets/fonts/majallab_0.TTF);
}



