html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

figure{
	margin:0px;
	padding:0px;
}

body{
	margin:0px;
	padding:0px;
}

img.headerlogo {
	width:12vw;
	height:auto;
}


#navigation{
	font-family: "majalla";
	overflow: hidden;
	position: fixed;
	top:0;
	width:100%;
	background-color:white;
	margin:0px;
	z-index: 1;
}

#navigation ul{
	margin:0px;
	height:70px;
}

#navigation ul li{
  list-style-type: none;
  display: inline-block;
  font-size:2vw;
  padding: 20px 10px 10px 20px;
  vertical-align: middle;
}

#navigation ul li a{
  text-decoration: none;
  color:black;
}


#navigation li a:hover{
	color:#DCDCDC;
}

#main{
	margin-top:80px;
}


.left{
	float:right;
	margin-right:20px;
	vertical-align: middle;
}

.box1{
	max-width:95%;	
	margin:auto;
	position: relative;
	overflow:show;
}

.box1 img{
	width:100%;
}


.dot-panel{
	top:-30px;
	position: relative;
}

.mySlides{
	display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -80px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.box2 {
	/*max-width: 90%;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	"item_0 item_1 item_2 item_3"
}

.box2 img{
	padding:2% 2% 2% 2%;
	max-width:100%;
	max-height:auto;

}
.box2 figure:nth-child(1) { grid-area: item_0; }
.box2 figure:nth-child(2) { grid-area: item_1; } 
.box2 figure:nth-child(3) { grid-area: item_2; }
.box2 figure:nth-child(4) { grid-area: item_3; }


.box3 {
	margin-top:20px;
	background: black;
}

.box3 img{
	display: block;
	width:40%;
	margin-left: auto;
    margin-right: auto;
}

.box4 img{
	padding:2% 2% 2% 2%;
	max-width:100%;
	max-height:auto;

}

#about{
	font-family: "majalla";
}


.box4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	"cat_1 cat_2 cat_3"
}

.box4 figure:nth-child(1) { grid-area: cat_1; margin-left:50px; } 
.box4 figure:nth-child(2) { grid-area: cat_2; }
.box4 figure:nth-child(3) { grid-area: cat_3; margin-right:50px;}

#about p {
	text-align: center;
	font-size: 25px;
	font-size: 2vw;
	margin-left: 50px;
	padding-right: 50px;
}

.wallpaper img{
	width: 100%;
}


#our_kittens{
	font-family: "majalla";
}

.nav-item {
	font-family: "majalla";
	text-align:center;
	font-size: 4vw;
	padding-top: 20px;
}

.box5 img{
	padding:2% 2% 2% 2%;
	max-width:100%;
	max-height:auto;
}


.box5 {
	font-family: "majallab";
	font-size:24px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, min-content);
	grid-template-areas:
	"biscotti cleo porky"
	"crostini griffin nori"
	"harquin"

}


figure figcaption{
	text-align:center;
	font-size: 2vw;
}


footer {
	font-family: "BOD_B";
	padding:20px;
	background:#A0A0A0;
	overflow:hidden;
	font-size:1.5vw;
}

footer li {
	list-style-type: none;
  	display: inline-block;
  	padding-left:10px;

}

footer li a{
  text-decoration: none;
  color:black;

}

footer p {
	font-family: "majalla";
}


.box6 {
	width:60%;
	display:grid;
	grid-row: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas:
	"cat_a1 cat_a2 cat_a3 cat_a4 cat_a5"
}

.box6 img {
	max-width:100%;
	max-height:auto;
}

#contact {
	width:40%;
	float:left;
	padding-left: 30px;
}

.footer_images{
	width:60%;
}


